<div class="mdui-appbar mdui-appbar-fixed mdui-shadow-0" id="appbar">
    <div class="mdui-toolbar">
        <button class="mdui-btn mdui-btn-icon" id="drawer-toggle">
            <i class="mdui-icon material-icons">menu</i>
        </button>
        <a href="<%= url_for("/") %>" class="mdui-typo-title"><%- config.title %></a>
    </div>
</div>