<div class="mdui-appbar mdui-appbar-fixed mdui-shadow-0 mdui-color-white mdui-appbar-inset" id="appbar">
    <div class="mdui-toolbar">
        <button class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-black" id="drawer-toggle">
            <i class="mdui-icon material-icons">menu</i>
        </button>
        <a href="<%= url_for("/") %>" class="mdui-typo-title"><%- config.title %></a>
    </div>
    <div class="mdui-divider"></div>
</div>