<%- include drawer.ejs %>
<div class="mdui-appbar-with-toolbar">
    <%- include appbar.ejs %>
    <div class="mdui-divider"></div>
    <div class="mdui-container">
        <% if (is_home()){ %>
            <% page.posts.data.forEach((post) => { %>
                <%- include('post-card.ejs', { post: post }) %>
            <% }); %>
        <% } %>
    </div>
</div>