<!DOCTYPE HTML>
<html>
<head>
    <%- include head.ejs %>
    <title>
        <%= page.title %>
    </title>
</head>
<body class="mdui-drawer-body-left">
    <%- include appbar.ejs %>
    <div class="mdui-appbar-with-toolbar">
<%- include drawer.ejs %>