<!DOCTYPE HTML>
<html>
<head>
    <%- include head.ejs %>
    <title>
        <%= page.title %>
    </title>
</head>
<body>
<%- include drawer.ejs %>
<div class="mdui-appbar-with-toolbar">
    <%- include appbar.ejs %>
    <div class="mdui-divider"></div>