<link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/mdui@1.0.0/dist/css/mdui.min.css"
        integrity="sha384-2PJ2u4NYg6jCNNpv3i1hK9AoAqODy6CdiC+gYiL2DVx+ku5wzJMFNdE3RoWfBIRP"
        crossorigin="anonymous"
/>
<link href='https://fonts.loli.net/css?family=Open+Sans' rel='stylesheet'>
<%- css("/css/github-gist.css") %>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<meta charset="UTF-8">
<title><%= config.title %></title>
<style>
    html {
        height: 100%;
    }
    body {
        font-family: Noto Sans SC, sans-serif;
        height: 100%;
    }

    #drawer .mdui-list-item-active {
        color: black;
        background-color: rgba(0, 0, 0, .12);
    }

    #drawer .mdui-list-item {
        margin: 8px;
        border-radius: 5px;
    }

    #drawer .mdui-list-item-active .mdui-list-item-icon {
        color: black;
    }

    figure {
        margin: 0;
        border: 1px solid rgba(0, 0, 0, .12);
        border-radius: 5px;
        font-family: "Source Code Pro", sans-serif;
        background: rgba(0, 0, 0, .02);
    }

    figure table {
        padding-left: 16px;
    }

    figure table tbody .code {
        background: rgba(0, 0, 0, .0);
    }

    .mdui-typo pre {
        border: none!important;
        text-align: left!important;
    }

    figure table tbody .gutter {
        color: #0086b3;
    }

    .mdui-card .mdui-card-content img {
        max-width: 100%;
    }

    .mdui-bottom-nav a.mdui-bottom-nav-active {
        font-size: 12px;
        color: grey;
    }

    .mdui-bottom-nav a {
        font-size: 12px;
        color: grey;
        opacity: unset;
    }
</style>
<% if (theme.favicon){ %>
    <link href="<%= url_for(theme.favicon) %>" rel="icon"/>
<% } else { %>
    <link href="<%= url_for("images/favicon-default.ico") %>" rel="icon"/>
<% } %>