<!DOCTYPE HTML>
<html>
<head>
    <%- include head.ejs %>
    <title>
        <%= page.title %>
    </title>
</head>
<body>
<div id="app">
    <v-app>
        <%- include appbar.ejs %>
<%- include drawer.ejs %>